@import "@styles/mixins.scss";

%full-shared {
  width: 100%;
  height: 100%;
}

%grid-shared {
  display: grid;
}

%flex-shared {
  display: flex;
  align-items: center;

  &[dir="col"] {
    flex-direction: column;
  }

  &[dir="row"] {
    flex-direction: row;
  }
}

%truncate-shared {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%overflow-shared {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

%tabular-shared {
  @include font($color: var(--text-subdued));
  font-variant: tabular-nums;
}
